<template>
    <div class="box">
        <h2>百度地图</h2>
        <baidu-map class="bm-view" ak="YOUR_APP_KEY">
        </baidu-map>
    </div>
</template>

<script>
import BaiduMap from 'vue-baidu-map/components/map/Map.vue'
export default {
    components: {
        BaiduMap
    }
}
</script>

<style lang="scss" scoped>
.bm-view {
  width: 100%;
  height: 300px;
}
</style>
