<template>
    <div class="wrap">
        <div class="inp">
            <input type="text" v-model="searchVal">
        </div>
        <ul class="list">
            <li v-for="(item, index) in list" :key="index">
                {{item.name}}
            </li>
        </ul>
    </div>
</template>

<script>
import axiosType from '@/request/request'
import {debounce} from '@/utils/debounce'
export default {
    data () {
        return {
            searchVal: '',
            list: []
        }
    },
    methods: {
        axiosGetData () {
            axiosType.axiosGet('/api/search', {params: this.searchVal}).then(res => {
                if (res.data.code === 1) {
                    this.list = res.data.data;
                    console.log(this.list)
                } else {
                    console.log('暂无数据')
                }
            })
        }
    },
    created () {
        this.$watch('searchVal', debounce(() => {
            this.axiosGetData();
        }, 1000))
    }
}
</script>
