<template>
    <div class="drag">
        <draggable v-model="people" :move="getData" @update="dataDragEnd">
            <p v-for="(item,index) in people" :key="index">{{item.name}}</p>
        </draggable>
    </div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
    components: {
        draggable
    },
    data () {
        return {
            people: [
                {
                    name: 'aaaaaaaaaa'
                },
                {
                    name: 'bbbbbbbbbbb'
                },
                {
                    name: 'cccccccccc'
                }
            ]
        }
    },
    methods: {
        getData (ev) {
            console.log(ev)
            console.log(ev.draggedContext.element.name)
        },
        dataDragEnd (ev) {
            console.log(ev)
            console.log('拖动前的索引:' + ev.oldIndex)
            console.log('拖动后的索引:' + ev.newIndex)
        }
    }
}
</script>

<style>
p{
    line-height: 30px;
}
</style>
