<template>
    <div class="wrap">
        <div class="img-wrap" v-for="(item,index) in imgs" :key="index">
            <img v-lazy="item.url" alt="">
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            imgs: [
                {
                    url: require('../assets/imgs/1.jpg')
                },
                {
                    url: require('../assets/imgs/2.jpg')
                },
                {
                    url: '../assets/imgs/3.jpg'
                },
                {
                    url: require('../assets/imgs/4.jpg')
                },
                {
                    url: require('../assets/imgs/5.jpg')
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.wrap{
    width: 100%;
    height: 100%;
}
.img-wrap{
    width: 200px;
    img{
        width: 100%;
    }
}
</style>
