<template>
    <div>
        <vue-qr :logoSrc="src" text="啦啦啦，啦啦啦" :callback="test" qid="testid"></vue-qr>
    </div>
</template>

<script>
import VueQr from 'vue-qr'
export default {
    components: {
        VueQr
    },
    data () {
        return {
            src: 'http://b-ssl.duitang.com/uploads/item/201707/01/20170701100055_KvRwH.thumb.224_0.gif'
        }
    }
}
</script>
