<template>
  <div id="app">
    <main class="main">
      <router-view/>
    </main>
    <footer class="footer">
      <router-link to="/drag" tag="span">拖拽</router-link>
      <router-link to="/debounce" tag="span">防抖</router-link>
      <router-link to="/lazyLoad" tag="span">懒加载</router-link>
      <router-link to="/vueFilter" tag="span">自定义过滤器</router-link>
    </footer>
  </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style lang="scss">
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
.active{
  color: red;
}
#app{
  display: flex;
  flex-direction: column;
  .main{
    width: 100%;
    flex: 1;
    overflow: auto;
  }
  .footer{
    width: 100%;
    height: 44px;
    line-height: 44px;
    display: flex;
    span{
      flex: 1;
      text-align: center;
    }
  }
}
</style>
